.circle {
  width: 100%;
  height: 400px;

  margin-top: 60px;
}
.Center__circle .title {
  padding: 0 550px;
}
.Center__circle .first__line,
.second__line {
  width: 95%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 90px;
  margin-top: 40px;
}

.Center__circle .setitle p{
    font-size: 15px;
}
.Center__circle p {
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 2px;
}
.Center__circle .first__line img {
  width: 100px;
  height: 100px;
}
.Center__circle .first__line p{
    font-size: 12px;
}
.Center__circle .second__line p{
    font-size: 12px;
}

.Center__circle .second__line img {
  width: 100px;
  height: 100px;
}
